<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sa48.team11.adproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity"></activity>
        <activity android:name=".activities.ConfirmDisbursementActivity" />
        <activity android:name=".activities.ManageDisbursementActivity" />
        <activity android:name=".activities.AdjVoucherCreateActivity" />
        <activity
            android:name=".activities.AdjVoucherHistoryActivity"
            android:label="@string/adj_req" />
        <activity android:name=".activities.AdjVoucherDetailActivity" />
        <activity
            android:name=".activities.RetrievalListActivity"
            android:label="@string/retrieval_list" />
        <activity
            android:name=".activities.StockCardActivity"
            android:label="@string/stock_card" />
        <activity
            android:name=".activities.RequestDetailActivity"
            android:label="@string/request_detail" />
        <activity
            android:name=".activities.ManageRequestActivity"
            android:label="@string/manage_request" />
        <activity
            android:name=".activities.NewDelegationActivity"
            android:label="@string/manage_delegagtion" />
        <activity
            android:name=".activities.DelegationListActivity"
            android:label="@string/manage_delegagtion" />
        <activity android:name=".activities.ManageCollectionActivity" />
        <activity android:name=".activities.UpdateCollectionPointActivity" />
        <activity
            android:name=".activities.WelcomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeptHeadDashBoard"
            android:label="@string/title_dashboard" />
        <activity
            android:name=".activities.DeptRepDashBoard"
            android:label="@string/title_dashboard" />
        <activity
            android:name=".activities.ClerkDashBoard"
            android:label="@string/title_dashboard" />
        <activity android:name=".activities.UpdateDisburseActivity" />
    </application>

</manifest>